.DS_Store
home/.RDFox/dscatalog
home/.RDFox/lock
home/.RDFox/roles
.DS_Store
home/.RDFox/datastores/12893427909654348822/snapshot.dat
home/.DS_Store
home/.RDFox/datastores/06605536224426083796/snapshot.dat
